<h1>New Calculation</h1>


<%= form_for :dsc, url: rationumbers_path do |f| %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :profit %><br>
    <%= f.number_field :profit %>
  </p>
  <p>
    <%= f.label :debt %><br>
    <%= f.number_field :debt %>
  </p>
  <p>
    <%= submit_tag("Calculate") %>
  </p>
<% end %>